html,
body {
  height: 100%;
}

body {

  background-color: #f5f5f5;
}

.collapse{
  margin-bottom: 2vh;
}

.flag{
  max-width: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.position{
  border: none;
  text-align: center;
  width:50px;
}

.score{
  border: none;
  text-align: center;
  width:50px;
}

.grupo{
  padding:5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.confronto{
  border: 1px solid #ccc;
  border-radius: 8px;
}

.time-chave{
  margin-bottom: 1px;
  display: inline;
}


.grupo-title{
  font-size: 18px;
  font-weight: bold;
}

.top1{
  background-color: #d8ffd6 ;
}

.top2{
  background-color: #fff9d6 ;
}

.top34{
  background-color: #ffd6d6 ;
}

.disabled{
  color: #ccc;
}
